<% unless flash[:notice].blank? %>
  <p style="color: green"><%= flash[:notice] %></p>
<% end %>

<% if @topics.blank? %>
  <div style='border:1px solid;padding:5px;height:auto;margin-bottom:5px'>
    no topic
  </div>
<% else %>
  <%= render :partial => 'userpages/topic', :collection => @topics, :locale => @user %>
  <%= will_paginate @topics, :style => 'float:right' %>
<% end %>
